body{
    width: 100%;
    height: 100%;
    background-color: hsl(0, 0%, 8%);
    font-family: 'Inter', sans-serif;
    font-style: normal;
}
.card {
     align-items: center;
     background-color: hsl(0, 0%, 12%);
      border-radius: 10px;
    justify-self: center;
    text-align: center;
    width: 320px;
    height: 520px;
    margin-top: 60px;
   color: hsl(0, 0%, 100%); 
  

}
.card-img-top{
    border-radius: 50%;
    height: 80px;
    margin-top: 28px;
    width: 80px;
   
    
}
.card-body{
    padding: 5px;
}
.card-title{
    font-weight: 600;
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 10px;
    
}
.card-title2{
    color: hsl(75, 94%, 57%); 
    font-weight: 600;
    font-size: 12px;
    margin-bottom: 30px;
   
}
.card-text{
    color: rgb(207, 207, 207);
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 25px;
    
}
.card-buttons{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 250px;
}
.card-buttons button{
    border: none;
    border-radius: 5px;
    background-color: hsl(0, 0%, 20%);
    color: hsl(0, 0%, 100%);
    font-weight: 600;
    font-size: 11px;
    padding: 9px;
}
.card-buttons button:hover{
    background-color: hsl(75, 94%, 57%);
    color:black;
    cursor: pointer;
}